.add-container {
  max-width: 520px;
  margin: 50px auto;
  background: #ffffff;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.add-container h2 {
  font-family: "Playfair Display", serif;
  text-align: center;
  color: #4338ca;
  margin-bottom: 25px;
}

.add-container input,
.add-container textarea,
.add-container select {
  font-family: "Inter", sans-serif;
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
}

.add-container button {
  background-color: #4338ca;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}
