.home {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.home h1 {
  font-family: "Playfair Display", serif;
  font-size: 46px;
  color: #2565AE;
  margin-bottom: 20px;
}

.home p {
  font-size: 18px;
  max-width: 720px;
  line-height: 1.7;
  color: #334155;
}
