.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 50px;
  background-color: #2565AE;
}

.navbar h2 {
  font-family: "Playfair Display", serif;
  color: #ffffff;
  margin: 0;
}

/* NAV LINKS */
.links {
  display: flex;
  gap: 30px;
}

.nav-link {
  font-family: "Inter", sans-serif;
  color: #E3F1FF;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}

/* HOVER EFFECT */
.nav-link:hover {
  color: #FFD166;
}

/* ACTIVE PAGE HIGHLIGHT */
.nav-link.active {
  color: #FFD166;
  font-weight: 600;
}

/* ACTIVE UNDERLINE */
.nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #FFD166;
}
